plots/ska/los_1
plots/ska/los_2
plots/ska/los_3
plots/ska/2dps_2
plots/ska/3dps_2

plots/add_ps/2d_100
plots/add_ps/2d_150
plots/add_ps/2d_200
plots/add_ps/2d_50
plots/add_ps/3d

results/additional/ps

results/sim_cube/cube
results/sim_cube/ps

results/ska_cube/cube
results/ska_cube/ps

execute